asgiref
autopep8
backports.zoneinfo
beautifulsoup4
certifi
charset-normalizer
cloudinary
confusable-homoglyphs
dj-database-url
Django==3.2.9
django-bootstrap4
django-crispy-forms
django-heroku
django-registration
django-tinymce
djangorestframework
gunicorn
idna
Pillow
psycopg2
pycodestyle
python-decouple
pytz
requests
six
soupsieve
sqlparse
toml
urllib3
whitenoise
