{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} <div class="container-fluid">
     <div class="text-center" style="padding-top: 150px;  color: #000000;  ">
        <h1>Welcome to SMART BUDGET</h1> {% endcomment %}
         

         <div class="card bg-dark text-white">
          <img style="height: 500px" class="card-img" src="https://cdn.pixabay.com/photo/2018/04/20/11/30/forward-3335740_960_720.jpg" alt="Card image">
          <div class="card-img-overlay">
            <h1 style="padding-top: 30px;" class="card-title">Welcome to SMART BUDGET</h1>
            <h4  class=""><i>"Wise money decisions"</i></h4>
          </div>
        </div>


        <div class="container">
          <div class="row">
            <div class="col">
              <h1 style="padding-top: 120px; padding-left: 0px; font-style: italic;
               font-weight: bold; font-size: 60px; font-family: Verdana, sans-serif; text-align: center;">ABOUT <br>US</h1>
            </div>
            <div class="col">
              <h5 style="padding-top: 50px; padding-bottom: 50px; text-align: center">We all know that sticking to a budget is the best <br>
                and easiest way to manage your personal financial affairs.<br>
                But as someone, probably a wise accountant, once said:<br> 
                "The devil is in the details."<br>       
                Which are the absolutely essential elements <br>that will make that budget foolproof? How can you predict, <br>
                or at least be prepared for, the unpredictable? <br>
                And what will make you stay faithful to that spending plan <br>
                come hell or high prices?
                Smart budgeting tips to make your everyday accounting easier<br>
                start with being alert to the well-known dangers that can befall anyone trying <br>
                to follow a common budget.</h5>
            </div>
          </div>
        </div>

 <style>
    body {
        background: url('images/budget.png');
        background-color: #fff;
        background: url("") 50% 0 no-repeat fixed; 
        background-repeat: no-repeat;
        background-size: cover;
      
    } 
</style> 


<!-- Footer -->
<footer class="text-center text-lg-start text-dark" style="background-color: rgb(254, 238, 206)";>
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>SMART BUDGET
            </h6>
            <p>
              At Smart Budget we help you make wise money decisions.
              Come let's help you plan for a brighter future.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Expense Plans</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Savings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Budgets</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Income</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Westlands, Nairobi, KENYA</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@smartbudget.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgb(249, 223, 176); font-color: light">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Smart Budget</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


{% endblock %}